* { 
    background-color: white; 
    font-family: 'Roboto', sans-serif;
} 

table, th, th {
    border: 1px solid black;
}

.lunch {
	background: gray;
	border: none;
}

.nonborder {
	border: none;
	background: lightgray;
}

.bwl {
	background: blueviolet; 
    color: white;
}

.dma {
    background: green; 
	color: white;
}

.nat1 {
    background: blue;
    color: white;
}

.komm {
    background: red; 
    color: white;
}

.prog1 {
	background: lime; 
	color: black;
}

.ginf {
    background: lime; 
	color: black;
}

.eng1 {
	background: red;
	color: white; 
}

.bwl_highlight {
    background: white; 
    color: black;
	border: 8px solid blueviolet;
}

.dma_highlight {
    background: white; 	
	color: black;
	border: 8px solid green;
}

.nat1_highlight {
    background: white;
    color: black;
	border: 8px solid blue;
}

.komm_highlight {
    background: white; 
    color: black;
	border: 8px solid red;
}

.prog1_highlight {
	background: white; 
	color: black;
	border: 8px solid lime;
}

.ginf_highlight {
    background: white; 
	color: black;
	border: 8px solid lime;
}

.eng1_highlight {
	background: white;
	color: black;
	border: 8px solid red;
}