* { 
    background-color: white; 
    font-family: 'Roboto', sans-serif;
} 

table, th, th {
    border: 1px solid black;
}

table, td, td {
    border: 1px solid black;
}
.lunch {
	background: gray;
	border: none;
}
.nonborder {
   border: none;
   background: lightgray;
}
.bwl_highlight {
    background: blueviolet; 
    color: white;
}
.dma_highlight {
     background: green; 
        color: white;
}

.nat1_highlight {
    background: blue;
    color: white;
}

.komm_highlight {
    background: red; 
    color: white;
}

.prog1_highlight {
 background: lime; 
 color: black;
}

.ginf_highlight {
    background: lime; 
    color: black;
}

.eng1_highlight {
   background: red;
   color: white; 
}

.bwl {
    background: white; 
    color: black;
	border: 8px solid blueviolet;
}
.dma {
     background: white; 	
	 color: black;
	 border: 8px solid green;
}

.nat1 {
    background: white;
    color: black;
	border: 8px solid blue;
}

.komm {
    background: white; 
    color: black;
	border: 8px solid red;
}

.prog1 {
 background: white; 
 color: black;
 border: 8px solid lime;
}

.ginf {
     background: white; 
 color: black;
 border: 8px solid lime;
}

.eng1 {
   background: white;
   color: black;
   border: 8px solid red;
}